node_modules
dist
dist-sidecar
.vite
coverage
src-tauri/target
src-tauri/gen
*.db
*.db-shm
*.db-wal
*.log

.playwright-cli
.DS_Store
.antigravitycli
.codegraph/daemon.pid
.codegraph
build.sh
build-windows-exe.bat
